Debug/FaceBasics-D2D.tlog/CL.read.1.tlog
Debug/NuiDatabase/HDFaceTracker/EvalModel/front.mod.bin
Debug/NuiDatabase/HDFaceTracker/EvalModel/front_nose.mod.bin
Debug/NuiDatabase/HDFaceTracker/EvalModel/left.mod.bin
Debug/NuiDatabase/HDFaceTracker/EvalModel/left.p.txt
Debug/NuiDatabase/HDFaceTracker/EvalModel/left_nose.mod.bin
Debug/NuiDatabase/HDFaceTracker/EvalModel/right.mod.bin
Debug/NuiDatabase/HDFaceTracker/EvalModel/right.p.txt
Debug/NuiDatabase/HDFaceTracker/EvalModel/right_nose.mod.bin
Debug/NuiDatabase/HDFaceTracker/EyeState/EyeClose.pra
Debug/NuiDatabase/HDFaceTracker/EyeState/EyeClose.wgh
Debug/NuiDatabase/HDFaceTracker/EyeState/LeftCloseRightOpen44Flip.pra
Debug/NuiDatabase/HDFaceTracker/EyeState/LeftCloseRightOpen44Flip.wgh
Debug/NuiDatabase/HDFaceTracker/EyeState/LeftOpenRightClose44Flip.pra
Debug/NuiDatabase/HDFaceTracker/EyeState/LeftOpenRightClose44Flip.wgh
Debug/NuiDatabase/HDFaceTracker/MouthModel/MeanShapes.txt
Debug/NuiDatabase/HDFaceTracker/MouthModel/close.mod.bin
Debug/NuiDatabase/HDFaceTracker/MouthModel/close.p.txt
Debug/NuiDatabase/HDFaceTracker/MouthModel/lopen.mod.bin
Debug/NuiDatabase/HDFaceTracker/MouthModel/lopen.p.txt
Debug/NuiDatabase/HDFaceTracker/SkintoneModel/skintone_appearance_classifier.txt
Debug/NuiDatabase/HDFaceTracker/SkintoneModel/skintone_shape_classifier.txt
Debug/NuiDatabase/HDFaceTracker/ViewModel/front.mod.bin
Debug/NuiDatabase/HDFaceTracker/ViewModel/front.p.txt
Debug/NuiDatabase/HDFaceTracker/ViewModel/left.p.txt
x64/Debug/link.1108.write.1.tlog
x64/Debug/link.1244-cvtres.read.1.tlog
x64/Debug/link.1244-cvtres.write.1.tlog
x64/Debug/link.1244-rc.read.1.tlog
x64/Debug/link.1244-rc.write.1.tlog
x64/Debug/link.1244.read.1.tlog
x64/Debug/link.1244.write.1.tlog
x64/Debug/link.1600-cvtres.read.1.tlog
x64/Debug/link.1600-cvtres.write.1.tlog
x64/Debug/link.1600-rc.read.1.tlog
x64/Debug/link.1600-rc.write.1.tlog
x64/Debug/link.1600.read.1.tlog
x64/Debug/link.1600.read.2.tlog
x64/Debug/link.1600.write.1.tlog
x64/Debug/link.1792-cvtres.read.1.tlog
x64/Debug/link.1792-cvtres.write.1.tlog
x64/Debug/link.1792-rc.read.1.tlog
x64/Debug/link.1792-rc.write.1.tlog
x64/Debug/link.1792.read.1.tlog
x64/Debug/link.1792.read.2.tlog
x64/Debug/link.1792.write.1.tlog
x64/Debug/link.2152-cvtres.read.1.tlog
x64/Debug/link.2152-cvtres.write.1.tlog
x64/Debug/link.2152-rc.read.1.tlog
x64/Debug/link.2152-rc.write.1.tlog
x64/Debug/link.2152.read.1.tlog
x64/Debug/link.2152.write.1.tlog
x64/Debug/link.2492-cvtres.read.1.tlog
x64/Debug/link.2492-cvtres.write.1.tlog
x64/Debug/link.2492-rc.read.1.tlog
x64/Debug/link.2492-rc.write.1.tlog
x64/Debug/link.2492.read.1.tlog
x64/Debug/link.2492.read.2.tlog
x64/Debug/link.2492.write.1.tlog
x64/Debug/link.2548-cvtres.read.1.tlog
x64/Debug/link.2548-cvtres.write.1.tlog
x64/Debug/link.2548-rc.read.1.tlog
x64/Debug/link.2548-rc.write.1.tlog
x64/Debug/link.2548.read.1.tlog
x64/Debug/link.2548.write.1.tlog
x64/Debug/link.2552-cvtres.read.1.tlog
x64/Debug/link.2552-cvtres.write.1.tlog
x64/Debug/link.2552-rc.read.1.tlog
x64/Debug/link.2552-rc.write.1.tlog
x64/Debug/link.2552.read.1.tlog
x64/Debug/link.2552.write.1.tlog
x64/Debug/link.2560-cvtres.read.1.tlog
x64/Debug/link.2560-cvtres.write.1.tlog
x64/Debug/link.2560-rc.read.1.tlog
x64/Debug/link.2560-rc.write.1.tlog
x64/Debug/link.2560.read.1.tlog
x64/Debug/link.2560.write.1.tlog
x64/Debug/link.2840-cvtres.read.1.tlog
x64/Debug/link.2840-cvtres.write.1.tlog
x64/Debug/link.2840-rc.read.1.tlog
x64/Debug/link.2840-rc.write.1.tlog
x64/Debug/link.2840.read.1.tlog
x64/Debug/link.2840.write.1.tlog
x64/Debug/link.2852-cvtres.read.1.tlog
x64/Debug/link.2852-cvtres.write.1.tlog
x64/Debug/link.2852-rc.read.1.tlog
x64/Debug/link.2852-rc.write.1.tlog
x64/Debug/link.2852.read.1.tlog
x64/Debug/link.2852.write.1.tlog
x64/Debug/link.3268-cvtres.read.1.tlog
x64/Debug/link.3268-cvtres.write.1.tlog
x64/Debug/link.3268-rc.read.1.tlog
x64/Debug/link.3268-rc.write.1.tlog
x64/Debug/link.3268.write.1.tlog
x64/Debug/link.3560-cvtres.read.1.tlog
x64/Debug/link.3560-cvtres.write.1.tlog
x64/Debug/link.3560-rc.read.1.tlog
x64/Debug/link.3560-rc.write.1.tlog
x64/Debug/link.3560.read.1.tlog
x64/Debug/link.3560.read.2.tlog
x64/Debug/link.3560.write.1.tlog
x64/Debug/link.3824-cvtres.read.1.tlog
x64/Debug/link.3824-cvtres.write.1.tlog
x64/Debug/link.3824-rc.read.1.tlog
x64/Debug/link.3824-rc.write.1.tlog
x64/Debug/link.3824.read.1.tlog
x64/Debug/link.3824.write.1.tlog
x64/Debug/link.4168-cvtres.read.1.tlog
x64/Debug/link.4168-cvtres.write.1.tlog
x64/Debug/link.4168-rc.read.1.tlog
x64/Debug/link.4168-rc.write.1.tlog
x64/Debug/link.4168.read.1.tlog
x64/Debug/link.4168.write.1.tlog
x64/Debug/link.4220-cvtres.read.1.tlog
x64/Debug/link.4220-cvtres.write.1.tlog
x64/Debug/link.4220-rc.read.1.tlog
x64/Debug/link.4220-rc.write.1.tlog
x64/Debug/link.4220.read.1.tlog
x64/Debug/link.4220.write.1.tlog
x64/Debug/link.4284-cvtres.read.1.tlog
x64/Debug/link.4284-cvtres.write.1.tlog
x64/Debug/link.4284-rc.read.1.tlog
x64/Debug/link.4284-rc.write.1.tlog
x64/Debug/link.4284.read.1.tlog
x64/Debug/link.4284.write.1.tlog
x64/Debug/link.4356-cvtres.read.1.tlog
x64/Debug/link.4356-cvtres.write.1.tlog
x64/Debug/link.4356-rc.read.1.tlog
x64/Debug/link.4356-rc.write.1.tlog
x64/Debug/link.4356.read.1.tlog
x64/Debug/link.4356.write.1.tlog
x64/Debug/link.4384-cvtres.read.1.tlog
x64/Debug/link.4384-cvtres.write.1.tlog
x64/Debug/link.4384-rc.read.1.tlog
x64/Debug/link.4384-rc.write.1.tlog
x64/Debug/link.4384.read.1.tlog
x64/Debug/link.4384.write.1.tlog
x64/Debug/link.4492-cvtres.read.1.tlog
x64/Debug/link.4492-cvtres.write.1.tlog
x64/Debug/link.4492-rc.read.1.tlog
x64/Debug/link.4492-rc.write.1.tlog
x64/Debug/link.4492.read.1.tlog
x64/Debug/link.4492.write.1.tlog
x64/Debug/link.4560-cvtres.read.1.tlog
x64/Debug/link.4560-cvtres.write.1.tlog
x64/Debug/link.4560-rc.read.1.tlog
x64/Debug/link.4560-rc.write.1.tlog
x64/Debug/link.4560.read.1.tlog
x64/Debug/link.4560.write.1.tlog
x64/Debug/link.4640-cvtres.read.1.tlog
x64/Debug/link.4640-cvtres.write.1.tlog
x64/Debug/link.4640-rc.read.1.tlog
x64/Debug/link.4640-rc.write.1.tlog
x64/Debug/link.4640.read.1.tlog
x64/Debug/link.4640.write.1.tlog
x64/Debug/link.4708-cvtres.read.1.tlog
x64/Debug/link.4708-cvtres.write.1.tlog
x64/Debug/link.4708-rc.read.1.tlog
x64/Debug/link.4708-rc.write.1.tlog
x64/Debug/link.4708.read.1.tlog
x64/Debug/link.4708.write.1.tlog
x64/Debug/link.4788-cvtres.read.1.tlog
x64/Debug/link.4788-cvtres.write.1.tlog
x64/Debug/link.4788-rc.read.1.tlog
x64/Debug/link.4788-rc.write.1.tlog
x64/Debug/link.4788.read.1.tlog
x64/Debug/link.4788.read.2.tlog
x64/Debug/link.4788.write.1.tlog
x64/Debug/link.4860-cvtres.read.1.tlog
x64/Debug/link.4860-cvtres.write.1.tlog
x64/Debug/link.4860-rc.read.1.tlog
x64/Debug/link.4860-rc.write.1.tlog
x64/Debug/link.4860.read.1.tlog
x64/Debug/link.4860.write.1.tlog
x64/Debug/link.5272-cvtres.read.1.tlog
x64/Debug/link.5272-cvtres.write.1.tlog
x64/Debug/link.5272-rc.read.1.tlog
x64/Debug/link.5272-rc.write.1.tlog
x64/Debug/link.5272.read.1.tlog
x64/Debug/link.5272.read.2.tlog
x64/Debug/link.5272.write.1.tlog
x64/Debug/link.5352-cvtres.read.1.tlog
x64/Debug/link.5352-cvtres.write.1.tlog
x64/Debug/link.5352-rc.read.1.tlog
x64/Debug/link.5352-rc.write.1.tlog
x64/Debug/link.5352.read.1.tlog
x64/Debug/link.5352.write.1.tlog
x64/Debug/link.5452-cvtres.read.1.tlog
x64/Debug/link.5452-cvtres.write.1.tlog
x64/Debug/link.5452-rc.read.1.tlog
x64/Debug/link.5452-rc.write.1.tlog
x64/Debug/link.5452.read.1.tlog
x64/Debug/link.5452.read.2.tlog
x64/Debug/link.5452.write.1.tlog
x64/Debug/link.5704-cvtres.read.1.tlog
x64/Debug/link.5704-cvtres.write.1.tlog
x64/Debug/link.5704-rc.read.1.tlog
x64/Debug/link.5704-rc.write.1.tlog
x64/Debug/link.5704.read.1.tlog
x64/Debug/link.5704.read.2.tlog
x64/Debug/link.5704.write.1.tlog
x64/Debug/link.6124-cvtres.read.1.tlog
x64/Debug/link.6124-cvtres.write.1.tlog
x64/Debug/link.6124-rc.read.1.tlog
x64/Debug/link.6124-rc.write.1.tlog
x64/Debug/link.6124.read.1.tlog
x64/Debug/link.6124.write.1.tlog
x64/Debug/link.756-cvtres.read.1.tlog
x64/Debug/link.756-cvtres.write.1.tlog
x64/Debug/link.756-rc.read.1.tlog
x64/Debug/link.756-rc.write.1.tlog
x64/Debug/link.756.read.1.tlog
x64/Debug/link.756.write.1.tlog
x64/Debug/link.command.1.tlog
x64/Debug/link.read.1.tlog
x64/Debug/link.write.1.tlog
x64/Debug/rc.command.1.tlog
x64/Debug/rc.read.1.tlog
x64/Debug/rc.write.1.tlog
x64/Debug/NuiDatabase/FaceDetector.bin
Debug/FaceBasics-D2D.tlog/CL.write.1.tlog
Debug/FaceBasics-D2D.tlog/FaceBasics-D2D.lastbuildstate
Debug/FaceBasics-D2D.tlog/cl.command.1.tlog
Debug/FaceBasics-D2D.tlog/link.command.1.tlog
Debug/FaceBasics-D2D.tlog/link.read.1.tlog
Debug/FaceBasics-D2D.tlog/link.write.1.tlog
Debug/FaceBasics-D2D.tlog/rc.command.1.tlog
Debug/FaceBasics-D2D.tlog/rc.read.1.tlog
Debug/FaceBasics-D2D.tlog/rc.write.1.tlog
Debug/FaceBasics.res
Debug/KinectHD.AC776ACF.tlog/CL.read.1.tlog
Debug/KinectHD.AC776ACF.tlog/KinectHDFaceGrabber.lastbuildstate
Debug/KinectHD.AC776ACF.tlog/cl.command.1.tlog
Debug/KinectHD.AC776ACF.tlog/cl.write.1.tlog
Debug/KinectHD.AC776ACF.tlog/link.command.1.tlog
Debug/KinectHD.AC776ACF.tlog/link.read.1.tlog
Debug/KinectHD.AC776ACF.tlog/link.write.1.tlog
Debug/KinectHD.AC776ACF.tlog/rc.command.1.tlog
Debug/KinectHD.AC776ACF.tlog/rc.read.1.tlog
Debug/KinectHD.AC776ACF.tlog/rc.write.1.tlog
Debug/NuiDatabase/Expression/ExpressionRandomForest.model
Debug/NuiDatabase/Expression/EyeLeftRandomForest.model
Debug/NuiDatabase/Expression/EyeRightRandomForest.model
Debug/NuiDatabase/Expression/FacialHairIRRandomForest.model
Debug/NuiDatabase/Expression/FacialHairRandomForest.model
Debug/NuiDatabase/Expression/Feature.config
Debug/NuiDatabase/Expression/GlassesIRRandomForest.model
Debug/NuiDatabase/Expression/GlassesRandomForest.model
Debug/NuiDatabase/Expression/LookingAwayRandomForest.model
Debug/NuiDatabase/Expression/MouthMovedRandomForest.model
Debug/NuiDatabase/Expression/MouthOpenRandomForest.model
Debug/NuiDatabase/Expression/NuiExpressionModelManifest.txt
Debug/NuiDatabase/FaceAlignment.bin
Debug/NuiDatabase/FaceAlignmentColor.bin
Debug/NuiDatabase/FaceAlignmentColor27.bin
Debug/NuiDatabase/FaceDetector.bin
Debug/NuiDatabase/FaceOrientation.bin
Debug/NuiDatabase/FaceTrackingColor27.bin
Debug/NuiDatabase/HDFaceTracker/AAMModel/3DModel.bin
Debug/NuiDatabase/HDFaceTracker/AAMModel/3DModel_globalPCA.bin
Debug/NuiDatabase/HDFaceTracker/AAMModel/AAMModelData_F.bin
Debug/NuiDatabase/HDFaceTracker/AAMModel/AAMModelData_HLP.bin
x64/Debug/KinectHD.AC776ACF.tlog/CL.write.1.tlog
x64/Debug/KinectHD.AC776ACF.tlog/cl.command.1.tlog
x64/Debug/KinectHD.AC776ACF.tlog/link.command.1.tlog
x64/Debug/KinectHD.AC776ACF.tlog/link.read.1.tlog
x64/Debug/KinectHD.AC776ACF.tlog/link.write.1.tlog
x64/Debug/KinectHD.AC776ACF.tlog/rc.command.1.tlog
x64/Debug/KinectHD.AC776ACF.tlog/rc.read.1.tlog
x64/Debug/KinectHD.AC776ACF.tlog/rc.write.1.tlog
x64/Debug/KinectHD.AC776ACF.tlog/unsuccessfulbuild
x64/Debug/KinectHDFaceGrabber.lastbuildstate
x64/Debug/NuiDatabase/Expression/ExpressionRandomForest.model
x64/Debug/NuiDatabase/Expression/EyeLeftRandomForest.model
x64/Debug/NuiDatabase/Expression/EyeRightRandomForest.model
x64/Debug/NuiDatabase/Expression/FacialHairIRRandomForest.model
x64/Debug/NuiDatabase/Expression/FacialHairRandomForest.model
x64/Debug/NuiDatabase/Expression/Feature.config
x64/Debug/NuiDatabase/Expression/GlassesIRRandomForest.model
x64/Debug/NuiDatabase/Expression/GlassesRandomForest.model
x64/Debug/NuiDatabase/Expression/LookingAwayRandomForest.model
x64/Debug/NuiDatabase/Expression/MouthMovedRandomForest.model
x64/Debug/NuiDatabase/Expression/MouthOpenRandomForest.model
x64/Debug/NuiDatabase/Expression/NuiExpressionModelManifest.txt
x64/Debug/NuiDatabase/FaceAlignment.bin
x64/Debug/NuiDatabase/FaceAlignmentColor.bin
x64/Debug/NuiDatabase/FaceAlignmentColor27.bin
x64/Debug/NuiDatabase/FaceOrientation.bin
x64/Debug/NuiDatabase/FaceTrackingColor27.bin
x64/Debug/NuiDatabase/HDFaceTracker/AAMModel/3DModel.bin
x64/Debug/NuiDatabase/HDFaceTracker/AAMModel/3DModel_globalPCA.bin
x64/Debug/NuiDatabase/HDFaceTracker/AAMModel/AAMModelData_F.bin
x64/Debug/NuiDatabase/HDFaceTracker/AAMModel/AAMModelData_HLP.bin
x64/Debug/NuiDatabase/HDFaceTracker/AAMModel/AAMModelData_HRP.bin
x64/Debug/NuiDatabase/HDFaceTracker/AAMModel/Map2D3D_F.txt
x64/Debug/NuiDatabase/HDFaceTracker/AAMModel/Map2D3D_HLP.txt
x64/Debug/NuiDatabase/HDFaceTracker/AAMModel/Map2D3D_HRP.txt
x64/Debug/NuiDatabase/HDFaceTracker/AAMModel/PCAMaskBias.bin
x64/Debug/NuiDatabase/HDFaceTracker/EvalModel/Front.p.txt
x64/Debug/NuiDatabase/HDFaceTracker/EvalModel/front.mod.bin
x64/Debug/NuiDatabase/HDFaceTracker/EvalModel/front_nose.mod.bin
x64/Debug/NuiDatabase/HDFaceTracker/EvalModel/left.mod.bin
x64/Debug/NuiDatabase/HDFaceTracker/EvalModel/left.p.txt
x64/Debug/NuiDatabase/HDFaceTracker/EvalModel/left_nose.mod.bin
x64/Debug/NuiDatabase/HDFaceTracker/EvalModel/right.mod.bin
x64/Debug/NuiDatabase/HDFaceTracker/EvalModel/right.p.txt
x64/Debug/NuiDatabase/HDFaceTracker/EvalModel/right_nose.mod.bin
x64/Debug/NuiDatabase/HDFaceTracker/EyeState/EyeClose.pra
x64/Debug/NuiDatabase/HDFaceTracker/EyeState/EyeClose.wgh
x64/Debug/NuiDatabase/HDFaceTracker/EyeState/LeftCloseRightOpen44Flip.pra
x64/Debug/NuiDatabase/HDFaceTracker/EyeState/LeftCloseRightOpen44Flip.wgh
x64/Debug/NuiDatabase/HDFaceTracker/EyeState/LeftOpenRightClose44Flip.pra
x64/Debug/NuiDatabase/HDFaceTracker/EyeState/LeftOpenRightClose44Flip.wgh
x64/Debug/NuiDatabase/HDFaceTracker/MouthModel/MeanShapes.txt
x64/Debug/NuiDatabase/HDFaceTracker/MouthModel/close.mod.bin
x64/Debug/NuiDatabase/HDFaceTracker/MouthModel/close.p.txt
x64/Debug/NuiDatabase/HDFaceTracker/MouthModel/lopen.mod.bin
x64/Debug/NuiDatabase/HDFaceTracker/MouthModel/lopen.p.txt
x64/Debug/NuiDatabase/HDFaceTracker/SkintoneModel/skintone_appearance_classifier.txt
x64/Debug/NuiDatabase/HDFaceTracker/SkintoneModel/skintone_shape_classifier.txt
x64/Debug/NuiDatabase/HDFaceTracker/ViewModel/front.mod.bin
x64/Debug/NuiDatabase/HDFaceTracker/ViewModel/front.p.txt
x64/Debug/NuiDatabase/HDFaceTracker/ViewModel/left.mod.bin
x64/Debug/NuiDatabase/HDFaceTracker/ViewModel/left.p.txt
x64/Debug/NuiDatabase/HDFaceTracker/ViewModel/right.mod.bin
x64/Debug/NuiDatabase/HDFaceTracker/ViewModel/right.p.txt
x64/Debug/NuiDatabase/HDFaceTracker/WholeHeadModel/FullHeadMaskVertexCorrespondence.txt
x64/Debug/NuiDatabase/HDFaceTracker/WholeHeadModel/fullMeanHead60_tri.ply
x64/Debug/cl.command.1.tlog
x64/Debug/link-cvtres.read.1.tlog
x64/Debug/link-cvtres.write.1.tlog
x64/Debug/link-rc.read.1.tlog
x64/Debug/link-rc.write.1.tlog
x64/Debug/link.1052-cvtres.read.1.tlog
x64/Debug/link.1052-cvtres.write.1.tlog
x64/Debug/link.1052-rc.read.1.tlog
x64/Debug/link.1052-rc.write.1.tlog
x64/Debug/link.1052.read.1.tlog
x64/Debug/link.1052.read.2.tlog
x64/Debug/link.1052.write.1.tlog
x64/Debug/link.1108-cvtres.read.1.tlog
x64/Debug/link.1108-cvtres.write.1.tlog
x64/Debug/link.1108-rc.read.1.tlog
x64/Debug/link.1108-rc.write.1.tlog
x64/Debug/link.1108.read.1.tlog
x64/Debug/link.1108.read.2.tlog
x64/Debug/vc110.idb
Debug/NuiDatabase/HDFaceTracker/AAMModel/AAMModelData_HRP.bin
Debug/NuiDatabase/HDFaceTracker/AAMModel/Map2D3D_F.txt
Debug/NuiDatabase/HDFaceTracker/AAMModel/Map2D3D_HLP.txt
Debug/NuiDatabase/HDFaceTracker/AAMModel/Map2D3D_HRP.txt
Debug/NuiDatabase/HDFaceTracker/AAMModel/PCAMaskBias.bin
Debug/NuiDatabase/HDFaceTracker/EvalModel/Front.p.txt
Debug/NuiDatabase/HDFaceTracker/ViewModel/left.mod.bin
Debug/NuiDatabase/HDFaceTracker/ViewModel/right.mod.bin
Debug/NuiDatabase/HDFaceTracker/ViewModel/right.p.txt
Debug/NuiDatabase/HDFaceTracker/WholeHeadModel/fullMeanHead60_tri.ply
Debug/vc120.idb
x64/Debug/KinectHD.AC776ACF.tlog/KinectHDFaceGrabber.lastbuildstate
x64/Debug/CL.read.1.tlog
x64/Debug/CL.write.1.tlog
x64/Debug/FaceBasics.res
Debug/NuiDatabase/HDFaceTracker/WholeHeadModel/FullHeadMaskVertexCorrespondence.txt
KinectHDFaceGrabber.sdf
x64/Debug/KinectHD.AC776ACF.tlog/CL.read.1.tlog
x64/Debug/vc120.idb
FaceBasics-D2D.sdf
x64/
Debug/
*.ply
*.pcd
*.opensdf
*.ipch
